body {
    background-color: rgb(4, 37, 71);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(215,215,216), rgb(4, 37, 71));
}

header img {
    display: inline-block;
}

h1 {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    text-decoration: double;
    text-shadow: 10em;
    font-size: 24px;
}

footer h2 {
    padding: 16px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

h3 {
    font-size: 20px;
    text-shadow: 10em;
    text-decoration: double;
}

p {
    font-size: 16px;
}

.container > header {
    padding: 20px;
    background-color: rgb(215, 215, 216);
    color: rgb(10, 4, 86);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2 px rgb(4, 37, 71);
    border-style: dotted;
}

nav a {
    margin: 34px;
    color: rgb(3, 43, 83);
    text-decoration: underline;
    padding: 16px;
    content: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

footer a {
    margin: auto;
    color: rgb(210, 211, 212);
    text-decoration: underline;
    padding: 16px;
    content: 12px;
    justify-content: space-between;
}

section {
    padding: 20px;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.about-settings {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    align-content: center;
}

.about-settings img {
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    align-content: center;
}

.work {
    width: 50%;
}

article {
    width: 50%;
    padding: 20px;
}

article img {
    width: 100%;
}

.featured {
    width: 100%;
}

footer {
    padding: 20px;
    background-color: rgb(4, 37, 71);
    color: rgb(215, 215, 216);
    border: 2px rgb(215,215,216);
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    section {
        width: calc(100%);
    }    
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }    
}