body {
    background-color: rgb(4, 37, 71);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(215,215,216), blue);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.container > header {
    padding: 20px;
    background-color: rgb(215, 215, 216);
    color: rgb(10, 4, 86);
    display: flex;
    justify-content: space-between;
}

nav, footer a {
    margin-left: 16px;
    color: rgb(210, 211, 212);
    text-decoration: none;
    padding: 20px;
}

section {
    padding: 20px;
    font-size: 28px;
    line-height: 40px;
}

.about-settings {
    display: flex;
    align-items: flex-start;
}

.about-settings img {
    margin-right: 12px;
    margin-bottom: 12px;

}

#work {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 20px;
}

article img {
    width: 100%;
}

.featured {
    width: 100%;
}

footer {
    padding: 20px;
    background-color: rgb(26, 25, 37);
    color: rgb(4, 118, 4);
    display: flex;
    justify-content: flex-end;
}